html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}


/* Adds a trailing $ symbol for price inputs, using French Canadian format (e.g., 3,99 $) */
.input-with-symbol {
    position: relative;
}

    .input-with-symbol input {
        padding-right: 2rem;
    }

    .input-with-symbol .symbol::before {
        content: '\00A0$'; /* non-breaking space + dollar sign */
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: #6c757d;
        pointer-events: none;
        font-size: 1rem;
    }
