@{
    ViewData["Title"] = "Paiement";
}

<h2>Payer un produit</h2>

<form asp-action="CreateCheckoutSession" method="post">
    <button type="submit" class="btn btn-success">Payer 20 $</button>
</form>
