@{
    ViewData["Title"] = "Paiement réussi";
}

<h2>Paiement réussi</h2>
<p>Merci pour votre commande!</p>
<h3 id="confirmation">Traitement en cours...</h3>

@section Scripts {
    <script>

        console.log("Scripts loaded on success page");

        localStorage.removeItem('panier_' + document.body.dataset.userid);
              
        
    </script>
}
