@model IEnumerable<E25ProjetEtendu.Models.Category>

@{
    ViewData["Title"] = "IndexCategories";
}

<h1>IndexCategories</h1>
<a asp-action="IndexProduits" class="btn btn-secondary">Retour</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    <a asp-action="EditCategory" asp-route-id="@item.CategoryId">Edit</a>                
            </td>
        </tr>
}
    </tbody>
</table>
