@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmation de la réinitialisation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Veuillez vérifier votre courriel pour réinitialiser votre mot de passe.
</p>
