@page
@model RegisterConfirmationModel
@{
	ViewData["Title"] = "Confirmation d'inscription";
}

<h1>@ViewData["Title"]</h1>
@{
	
		<p>
			Veuillez vérifier votre courriel pour confirmer votre compte.
		</p>
	
}

